@import '../variables/variables';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 0.8rem;
    padding: 0;
    background: transparent;
    outline: none;
    border: 1px solid color(black);
    border-radius: 50%;
    transition: opacity 300ms ease;
    cursor: pointer;

    &:hover {
      opacity: 0.3;
    }

    &:disabled {
      cursor: default;
      border: 1px solid color(lighestGray);
      opacity: 0.5;
    }
  }
}
